/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@media only screen and (min-width: 768px) {

  h1{
    font-size: 8rem;
  }
  
  h2{
    font-size: 6rem;
  }
  
  h4{
    font-size: 1.78rem;
  }
  
  h5{
    font-size: 1.125rem;
  }
  
  h6{
    font-size: 1.125rem;
  }
}

h5{
  line-height: 1.87;
}

h6{
  line-height: 1.87;
}

.primary-color-text{
  color:#0D315B !important;
}

.primary-color{
  background-color:#0D315B !important;
}

.secondary-color-text{
  color:#B6922E !important;
}

.secondary-color{
  background-color:#B6922E !important;
}

.dark-color-text{
  color:#363636 !important;
}

.dark-color{
  background-color:#363636 !important;
}

.nav-bar-logo{
  height: 64px;
}

.quote-text{
  line-height: 2;
}

.full-height{
  height: 80vh;
}

.half-height{
  height: 50vh;
}

.title-text{
  border-top: 1px solid currentColor;
  /* font-weight: 700; */
  line-height: 1.1;
  margin-bottom: 4rem;
  margin-top: .6rem;
  padding-top: .4em;
  white-space: normal;
}

.container{
  margin-bottom: 10vh;
}

.content-image{
  width: 100%;
}

.t-tag {
  letter-spacing: .05em;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.t-line{
  border-color: #B6922E;
  color: #B6922E !important;
}

.dark-body{
  background-color:#363636 !important;
}

.sub-title-text{
  font-weight: 600;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #0D315B !important;
}

.footer-title{
  font-weight: 600;
  text-transform: uppercase;
}

.footer-logo{
  width: 100px;
}

.footer-copyright, .page-footer .container{
  margin-bottom: unset;
}

.footer-links{
  line-height: 3;
}

.vertical-bar{
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 600;
  /* transform-origin: 0 50%; */
}

.vertical-bar-separator {
  background: currentColor;
  height: 1px;
  width: 60%;
}

#index-banner{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}